
@model CoreMvcCrudOperations.Models.Personel
@{
    ViewData["Title"] = "UpdatePersonel";
}

@using (Html.BeginForm("UpdatePersonel", "Personel", FormMethod.Post))
{
    @Html.LabelFor(x=>x.PersonelId)
    @Html.TextBoxFor(x=>x.PersonelId,new {@class="form-control"})
    <br />
    @Html.LabelFor(x=>x.PersonelName)
    @Html.TextBoxFor(x=>x.PersonelName,new {@class="form-control"})
    <br />
     @Html.LabelFor(x=>x.PersonelSurname)
    @Html.TextBoxFor(x=>x.PersonelSurname,new {@class="form-control"})
    <br />
     @Html.LabelFor(x=>x.City)
    @Html.TextBoxFor(x=>x.City,new {@class="form-control"})
    <br />
     @Html.LabelFor(x=>x.JobId)
    @Html.DropDownListFor(x=>x.Job.JobId,(List<SelectListItem>)ViewBag.PersonelList,new {@class="form-control"})
    <button class="btn btn-info">Personel Güncelle</button>
}

    



